
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background-color: rgb(228, 214, 214);
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    text-align: center;

    
}


.content {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    height: 100px;
    width: 150px
    
  }


  .title {
    font-size: 48px;
    font-weight: 700;
  }

.content1 {
    margin: 15px;
    width: 150px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    border: none;
    background: rgb(123, 176, 230);
    color: white;
    border-radius: 15px;
    padding: 5px 22px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;

    
}

button:hover {
    cursor: pointer;
    background-color: grey;
}

.scores {
    background-color: white;
    border-radius: 15px;
    margin-top: 20px;
    display: inline-block;
    padding: 10px;
    width: 150px;
    height: 150px;
    word-wrap: break-word
   

}



.footer {
    font-size: 12px;
    display: flex;
    justify-content:center;
    margin-bottom: 30px;
}